.flex-container {
  background-color: rgb(190, 190, 231);
}

.break {
  flex-basis: 100%;
  height: 0;
}
/* Flex Container 1 */
.flex-item {
  width: 100px;
  height: 100px;
  background-color: purple;
  color: white;
  font-size: 3em;
}

.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;     
  padding: 10px;
  margin-right: 200px;
  margin-left: 200px;
  
  
}



/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content:right;
  align-items: center;     
  padding: 10px;
  
}


/* Flex Container 3 */
.flex-container-3 {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content:center;
  align-content: space-evenly;    
  gap: 10px;
  
}
/* use height: 400px; on the container */

/* Flex Container 4 */
.flex-container-4{
  display: flex;
  flex-wrap: wrap-reverse;          
  justify-content: center;  
  align-content: center;
  gap: 5px 10px;           
  height: 250px;
}

/* each tile and spacer reserve the same width */
.flex-container-4 .flex-item,
.flex-container-4 .spacer {
  flex: 0 0 100px;          
}

/* full-width line break between rows */
.break { flex-basis: 100%; height: 0; }

.spacer { visibility: hidden; }
.flex-container-4 .item6,
.flex-container-4 .item7,
.flex-container-4 .item8 {
  margin-inline-start: 40px;  
  margin-right: 40px;
}
/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6{
  height: 200px;
}
.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7{
  height: 130px;
}

.flex-container-5 .item2,
.flex-container-5 .item8{
  height: 300px;
}
/* Flex Container 6 */
.flex-container-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  height: 600px;
  width: 400px;
  
}

.flex-container-6 .flex-item{
  width: 300px;
  height: 150px;
}


